* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    color: #445052;
    font-weight: 200;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
    background-color: #dbdbdb;
}
